---
layout: default
title: Study
permalink: /study/
---

<style>
    img.card-img-top {
        height: 180px;
        width: 100%;
        object-fit: contain;
    }
</style>


<h1>📖 스터디 진행</h1>
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        {% assign posts = site.posts | where_exp: "post", "post.categories contains 'study'" | sort: 'end' %}
        {% for study in posts %}
        {% assign now = site.time | date: "%s" %}
        {% assign end = study.end_time | date: "%s" %}
        <a class="card" href="{{ study.url }}" style="width: 18rem;">
            <img class="card-img-top" src="{{ study.thumbnail  | relative_url }}" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">
                    {{ study.title }}
                </h4>
                <p class="card-text">
                    {{ study.description }}
                </p>
                <div>
                    {% if now < end %} <span class="badge bg-success">진행중</span>
                        {% else %}
                        <span class="badge bg-danger">종료</span>
                        {% endif %}
                </div>
                참가자
                <ul>
                    {% for member in study.attendees %}
                    <li>{{ member }}</li>
                    {% endfor %}
                </ul>

            </div>
            <div class="card-footer bg-transparent ">
                {% for tag in study.categories %}
                <span class="badge bg-secondary">{{ tag }}</span>
                {% endfor %}
            </div>
        </a>
        {% endfor %}
    </div>
</div>