---
layout: default
---

<!--  배너 슬라이드 -->
<div id="carousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="wrap">
                <div id="home-description">
                    <p id="title">Grow Together</p>
                    <p id="description">
                        <b>동의대학교의 Google Devleopment Student Club에<br>오신 것을 환영합니다!</b>
                        <br><br>
                        GDSC DEU 에서는 구글 개발자 기술에 관심이 있는<br>
                        모든 학생의 참여를 환영하며, 연결(Connect), 배움(Learn),<br>
                        성장(Grow)을 가치로 다양한 배경과 전공을 가진 학생들이<br>
                        모여 기술을 습득하고 지역 공동체에 기여하기 위한 활동을 진행합니다.
                    </p>
                    <!-- <div id="buttons">
                        <div id="gdsc-community">
                            GDSC
                        </div>
                        <div id="github">
                            Github
                        </div>
                    </div> -->
                </div>
                <div id="home-illustration">
                    <img src="/assets/img/GDSC DEU main illustration.jpg" alt="GDSC DEU main image">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="wrap">
                <div id="home-description">
                    <p id="title">Grow Together</p>
                    <p id="description">
                        <b>동의대학교의 Google Devleopment Student Club에<br>오신 것을 환영합니다!</b>
                        <br><br>
                        GDSC DEU 에서는 구글 개발자 기술에 관심이 있는<br>
                        모든 학생의 참여를 환영하며, 연결(Connect), 배움(Learn),<br>
                        성장(Grow)을 가치로 다양한 배경과 전공을 가진 학생들이<br>
                        모여 기술을 습득하고 지역 공동체에 기여하기 위한 활동을 진행합니다.
                    </p>
                    <!-- <div id="buttons">
                        <div id="gdsc-community">
                            GDSC
                        </div>
                        <div id="github">
                            Github
                        </div>
                    </div> -->
                </div>
                <div id="home-illustration">
                    <img src="/assets/img/GDSC DEU main illustration.jpg" alt="GDSC DEU main image">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="wrap">
                <div id="home-description">
                    <p id="title">Grow Together</p>
                    <p id="description">
                        <b>동의대학교의 Google Devleopment Student Club에<br>오신 것을 환영합니다!</b>
                        <br><br>
                        GDSC DEU 에서는 구글 개발자 기술에 관심이 있는<br>
                        모든 학생의 참여를 환영하며, 연결(Connect), 배움(Learn),<br>
                        성장(Grow)을 가치로 다양한 배경과 전공을 가진 학생들이<br>
                        모여 기술을 습득하고 지역 공동체에 기여하기 위한 활동을 진행합니다.
                    </p>
                    <!-- <div id="buttons">
                        <div id="gdsc-community">
                            GDSC
                        </div>
                        <div id="github">
                            Github
                        </div>
                    </div> -->
                </div>
                <div id="home-illustration">
                    <img src="/assets/img/GDSC DEU main illustration.jpg" alt="GDSC DEU main image">
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <button class="control carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="control carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--  2열 그리드로 최근 공지사항, 이벤트, 활동 소식을 보여줌 -->

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card border-white">
                <div class="card-body">
                    <h5 class="card-title">최근 공지사항</h5>
                    <p class="card-text"> GDSC DEU의 공지사항을 확인하세요</p>
                    {% assign notices = site.posts | where_exp: "post", "post.categories contains 'notice'" %}
                    {% for notice in notices limit: 5 %}
                    <a class="post-item" href="{{ notice.url }}">
                        <div class="card mb-1" style="height: 50px;">
                            <div class="row g-0">
                                <div class="post-thumbnail col-md-3">
                                    <img src="{{ notice.thumbnail  | relative_url }}" class="img-fluid rounded-start"
                                        alt="{{ notice.title }}" style="object-fit: cover; height: 48px; width: 100%;">
                                </div>
                                <div class=" col-md-8">
                                    <div class="card-body">
                                        <p>
                                            {{ notice.title }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    <p class="card-footer">더 많은 공지사항을 보려면 <a href="/notice">여기</a>를 클릭하세요.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-white">
                <div class="card-body">
                    <h5 class="card-title">최근 이벤트</h5>
                    <p class="card-text">GDSC DEU의 최근 이벤트를 확인하세요.</p>
                    {% assign events = site.posts | where_exp: "post", "post.categories contains 'event'" %}
                    {% for event in events limit: 5 %}
                    <a class="post-item" href="{{ event.url }}">
                        <div class="card mb-1" style="height: 50px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ event.thumbnail  | relative_url }}" class="img-fluid rounded-start"
                                        alt="{{ event.title }}" style="object-fit: cover; height: 48px; width: 100%;">
                                </div>
                                <div class=" col-md-8">
                                    <div class="card-body">
                                        <p>
                                            {{ event.title }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    <p class="card-footer">더 많은 이벤트를 보려면 <a href="/event">여기</a>를 클릭하세요.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card border-white">
                <div class="card-body">
                    <h5 class="card-title">기술 블로그</h5>
                    <p class="card-text">GDSC DEU의 최근 공지사항을 확인하세요.</p>
                    {% assign blogs = site.posts | where_exp: "post", "post.categories contains 'blog'" %}
                    {% for blog in blogs limit: 5 %}
                    <a class="post-item" href="{{ blog.url }}">
                        <div class="card mb-1" style="height: 50px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ blog.thumbnail  | relative_url }}" class="img-fluid rounded-start"
                                        alt="{{ blog.title }}" style="object-fit: cover; height: 48px; width: 100%;">
                                </div>
                                <div class=" col-md-8">
                                    <div class="card-body">
                                        <p>
                                            {{ blog.title }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    <p class="card-footer">더 많은 기술 블로그를 보려면 <a href="/blog">여기</a>를 클릭하세요.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card border-white">
                <div class="card-body">
                    <h5 class="card-title">운영중인 스터디</h5>
                    <p class="card-text">GDSC DEU의 최근 공지사항을 확인하세요.</p>
                    {% assign studys = site.posts | where_exp: "post", "post.categories contains 'study'" | sort :
                    'start_time' %}
                    {% for study in studys limit: 5 %}
                    <a class="post-item" href="{{ study.url }}">
                        <div class="card mb-1" style="height: 50px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="{{ study.thumbnail  | relative_url }}" class="img-fluid rounded-start"
                                        alt="{{ study.title }}" style="object-fit: cover; height: 48px; width: 100%;">
                                </div>
                                <div class=" col-md-8">
                                    <div class="card-body">
                                        <p>
                                            {{ study.title }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    <p class="card-footer">더 많은 스터디를 보려면 <a href="/study">여기</a>를 클릭하세요.</p>
                </div>
            </div>
        </div>
    </div>
</div>