div#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    div#global-navigation-bar {
        padding: 15px 40px;
        background-color: #FFFFFF;
        a img {
            width: 267.14px;
            height: 33px;
        }
    }
}

hr#divide-line {
    height: 1.5px;
    border-width: 0;
    background-color: #EDEDED;
    margin: 0px;
}

body {
    padding-top: 60px;
}

.implement {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    font-size: 60px;
    font-weight: bold;
    color: darkgrey;
}