<!DOCTYPE html>
<html lang="ko">

<head>

    <title>{{ site.title }}</title>
    {% include head.html %}

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css">

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">

    <style>
        .markdown-body {
            box-sizing: border-box;
            width: 100%;
            margin: 0 auto;
            padding: 32px;
        }

        @media (min-width: 978px) {
            .markdown-body {
                width: 978px;
            }
        }

        @media (min-width: 600px) and (max-width: 977px) {
            .markdown-body {
                width: 90%;
            }
        }
    </style>
</head>

<body>
    {% include header.html %}
    <article class="markdown-body">
        {{ content }}
    </article>
</body>

</html>