---
layout: default-markdown
---
<style>
    .utterances {
        max-width: 100% !important;
    }
</style>
<span style="font-size: 1.5em; font-weight: bold;">{{ page.title }}</span>

<p><b>{{ page.author }}</b> - {{ page.date | date: "%Y년 %m월 %-d일" }}</p>

{% for tag in page.tags %}
<span class="badge bg-secondary">{{ tag }}</span>
{% endfor %}

<h1></h1>

{{ content }}

<script src="https://utteranc.es/client.js" repo="GDSC-DEU/gdsc-deu.github.io" issue-term="pathname"
    theme="github-light" crossorigin="anonymous" async>
    </script>